* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body {
    background-color: black;
}

header {
   
    display: flex;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

span {
    color: blueviolet;
}

.header-lista-1 {
    display: flex;
   
}

.portifolio {
    margin-left: 10%;
}

.nav-01 {
    display: flex;
padding:0 0 0 80%;
    margin-top: 10px;
    
}

.home-principal {
    margin: 200px 0px 300px 5%;
    display: flex;
}

.foto-beto {
    margin-left: 105px;
}

.card {
    margin-left: 5%;
}

.card-projetos {
    display: flex;
    margin-left: 15%;
}

.img-rede-sociais {
    height: 95px;
}

.link-menu {
    margin-top: 15px;
    margin-left: 40px;
    font-size: 25px;
    display: flex;
}
.title-imag {
    color: antiquewhite;
    font-size: 26px;
}
h2 {
    color: aliceblue;
    font-size: 75px;
}
.section-area {
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 50PX;
}

.img-2 {
    margin-left: 400px;
}

.h5 {
    color: aliceblue;
    font-size: 90px;

}

.texto-sobre {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 36px;
}

.sobre-sobre {
    display: flex;
    margin: 0px 50px 0 100PX;
    font-size: 26px;
}

.main-imag-1 {
    color: antiquewhite;
    margin-left: 150px
}

.projetos {
    text-align: center;
    margin: 150px 0;
}

.footer {
    text-align: center;
    margin: 50px 0;
}
.footer-nome{color: aliceblue;font-size: 48px;}
    .footer-texto{font-size: 32px;}
    .img-rede-sociais-1{height: 70px;}
    .img-rede-sociais-2{height: 70px;}
    .img-rede-sociais-3{height: 70px;}

@media (min-width: 1400px) and (max-width: 1919px) {
    .nav-01 {
        padding:0 0 0 40%;
    }

    .img-2 {
        margin-left: 100px;
    }

    .figure-photo {
        margin-top: 60px;
    }

    .card-projetos {
        display: flex;
        margin-left: 5%;
    }
    .sobre-nome{margin-top: 22%;}
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .nav-01 {
        padding:0 0 0 25%;
    }

    .img-2 {
        margin-left: 0px;
    }

    .figure-photo {
        margin-top: 60px;
    }

    .card-projetos {
        display: flex;
        margin-left: 5%;
    }
    .sobre-nome{margin-top: 22%;}
}
@media (max-width: 450px) {
    body {
        width: 100%;
    }
    .portifolio {
        margin-left: 30%;
        margin-right: 6%;
        font-size: 50px;
    }
    .nav-01 {
        margin-left: 0%;
        width: 100%; 
        padding:0 0 0 0%;
    }
    .link-menu {
        margin-left: 5%;
        font-size: 16px;
    }
    .home-principal {
        display: block;
        margin: 100px 0px 100px 5%;
    }

    .Sobre-nome {
        width: 100%;
        font-size: 30px;
    }
    .img-2 {
        margin-left: 0%;
        width: 0%;
        height: 0;
    }
    .sobre-sobre {
        display: block;
        margin: 0;
    }
    .foto-beto {
        margin-left: 25%;
      
        height: 200px;
    }

    .main-imag-1 {
        margin-left: 0%;
    }

    .texto-sobre {
        margin-left:5%;
        font-size: 24px;
        
    }

    .texto-sobre-completo {
        text-align: justify;
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
    }

    .principais-projetos {
       
        margin-left: 1%;
        font-size: 24px;
    }
    
    .header-lista-1 {
        display: block;
    }
    .figure-photo {
        margin-top: 60px;
    }
    .card {
        margin-left: 0%;
    }
    .card-projetos {
        display: block;
        margin-left: 0%;
    }

    .img-dos-projetos {
        height: 200px;
        width: 280px;
    }

    .title-imag{
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
    }

    .h5 {
        width: 100%;
      font-size: 15px;
        margin-left: 10%;
    }

   

    .social {
        width: 100%;
        margin-left: 0%;
    }

    .section-area {
        width: 100%;
        font-size: 16px;
    }
    .footer-nome{color: aliceblue;font-size: 18px;}
    .footer-texto{font-size: 12px;}
    .img-rede-sociais-1{height: 40px;}
    .img-rede-sociais-2{height: 40px;}
    .img-rede-sociais-3{height: 40px;}
}
