*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ARIAL";
}
body{background-color: black;}
header{ width: 100%;display: flex;
}
a{list-style-type: none;text-decoration:none;color: aliceblue;}
span{color: blueviolet;}
.header-lista-1{display: flex;}
.portifolio{margin-left: 10%;}
.nav-01{
    display: flex;margin-left: 120%;margin-top: 10px;
}
.home-principal{margin: 200px 0px 300px 5%;display: flex;}
img{margin-left: 105px;}

.card-projetos{display: flex;margin-left: 15%;}
.img-rede-sociais{height: 95px;}
.link-menu{
    margin-top: 15px;
    margin-left: 40px;
    font-size: 25px;
    display: flex;
}


  

h5{color: antiquewhite;font-size: 26px;margin-left: 105px;}
h2{color: aliceblue; font-size: 75px;}
h4{color: aliceblue;font-size: 40px; margin-bottom: 50PX;}
.img-2{margin-left: 400px;}
.h5{color: aliceblue;font-size:  90px;}
.texto-sobre{color: aliceblue;text-align: center;margin-top: 10px;margin-bottom: 30px;font-size: 36px;}
.sobre-sobre{display: flex; margin: 0px 50px 0 100PX;font-size: 26px;}
.main-imag-1{color: antiquewhite;margin-left: 150px}
.projetos{text-align: center;margin: 150px 0;}
.footer{text-align: center;margin: 50px 0;}

